$component-position: absolute;
$component-direction: 100%;
$font-title-size: 30px;
$font-size-title: 50px;
$display-grid: flex;

.sectionTwo {
  display: grid;
  flex-direction: column;
  position: $component-position;
  top: $component-direction;
  font-size: $font-title-size;
}

.sectionTwo__about {
  font-size: $font-size-title;
  font-weight: 700;
}

.sectionTwo__socialMedia {
  display: $display-grid;
  justify-content: center;
  padding: 20px;
}
