@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

.ContainerName{
  font-family: 'Inspiration', cursive;
  background-color: #77c077;
  height: 671px;
}

.ContainerName__background{
  width: 100%;
  border-top-left-radius: 400px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 259px;
  border-bottom-right-radius: 300px;
}

.containerName___elements{
  display: flex;
  flex-direction: row;
}

.ContainerName__Yula{
  position: absolute;
  top: -25%;
  left: 33%;
  font-size: 300px;
  transition: .5s, color .10s;
      -webkit-transition: .5s, color .10s;
      -moz-transition: .5s, color .10s;
}

.ContainerName__Yula:hover{
  transform: scale3d(1.5, 1.5, 0.3);
      -webkit-transform: scale3d(1.5, 1.5, 0.3);
      -moz-transform: scale3d(1.5, 1.5, 0.3);

}

@media screen and (min-width: 300px) and (max-width: 576px){
  .ContainerName__background{
    height: 82%;
  }

  .ContainerName__Yula{
    top: -19%;
    left: 45%;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px)  {
  .ContainerName{
    height: 547px;
  }

  .ContainerName__Yula{
    top: -21%;
    left: 26%;
  }
}
