.containerName___elements {
  display: flex;
  justify-content: center;
  font-size: 64px;
  animation: bounce 1s infinite alternate;
  position: relative;
  top: 123px;
}

.containerName___elements:hover {
  color: pink;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Start and end at the base position */
  }
  50% {
    transform: translateY(-50px); /* Move upwards for the bounce peak */
  }
}
