@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.ContainerName{
  font-family: 'Delicious Handrawn', cursive;
  position: relative;
}

.ContainerName__background{
  width: 100%;
}

.containerName___elements{
  display: flex;
  flex-direction: row;
}

.ContainerName__Yula{
  position: absolute;
  top: -25%;
  left: 33%;
  font-size: 300px;
  transition: .5s, color .10s;
      -webkit-transition: .5s, color .10s;
      -moz-transition: .5s, color .10s;
}

.ContainerName__Yula:hover{
  transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
}

