// break line points
$breakpoint-small: 600px;
$breakpoint-medium: 900x;
$breakpoint-lg: 1200px;

.ContainerName {
  display: flex;
  justify-content: center;

  h1,
  h4 {
    position: relative;
    top: 123px;
  }
  @media (max-width: $breakpoint-small) {
    h1 {
      font-size: 60px;
    }
  }
}

.containerName___elements {
  font-size: 64px;
  animation: bounce 1s infinite alternate;
}

.containerName___elements-sub {
  font-size: 25px;
}

.containerName___elements:hover {
  color: pink;
}
