@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&display=swap');


.containerSectionThree{
  background-color: #9370db;
  padding: 20px;
}

.containerSectionThree__title{
  font-family: 'DynaPuff', cursive;
  font-size: 55px;
  color:#69ff8f;
  padding: 35px;
}

.containerSectionThree__paragraph{
  font-family: 'Nunito', sans-serif;
  font-size: 23px;
  padding-left: 38px;
}

.containerSectionThree__work{
  display: flex;
    flex-direction: row;
}

.containerSectionThree__work--nft{
  font-family: 'Nunito', sans-serif;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerSeectionThree__work--img{
  border-radius: 111px;
  height: 186px;
  width: 60%;
  border-style: ridge;
  object-fit: contain;
}

.containerSeectionThree__work--image{
  border-radius: 111px;
  height: 186px;
  width: 57%;
  border-style: ridge;
}

.containerSectionThree__work--nftText{
  display: flex;
  width: 75%;
  margin: unset;
  padding-top: 10px;
  padding-bottom: 5px;
}

.containerSectionThree__work--button{
  width: 50%;
  max-width: 50%;
  height: 37px;
  border-radius: 29px;
  border-style: none;
}

.containerSectionThree__work--button:hover{
  background-color: #6bffb5;
}

@media screen and (min-width: 300px) and (max-width: 576px) {
  .containerSectionThree{
    display: flex;
    flex-direction: column;
  }

  .containerSectionThree__work{
    display: flex;
    flex-direction: column;
  }

  .containerSectionThree__work--nft{
    align-items: center;
    padding-bottom: 40px;
  }

  .containerSeectionThree__work--img{
    height: 242px;
    width: 35%;
  }

  .containerSeectionThree__work--image{
    height: 242px;
    width: 35%;
  }

  .containerSectionThree__work--nftText{
    font-size: 30px;

  }

  .containerSectionThree__work--button{
    font-size: 20px;
  }
}
