$component-position: relative;
$component-direction: 1000px;
$font-title-size: 30px;
$font-size-title: 50px;
$font-weight-param: bold;
$display-box: flex;

// break line points
$breakpoint-small: 1200px;
//$breakpoint-medium: 900x;
$breakpoint-lg: 1200px;

.sectionTwo {
  display: $display-box;
  flex-direction: column;
  position: $component-position;
  top: $component-direction;
  font-size: $font-title-size;

  @media (max-width: $breakpoint-small) {
    background-color: #cc7ab0;
    padding: 37px;
    top: 800px;
  }
}

.sectionTwo__paragraph {
  width: 100%;
  @media (min-width: $breakpoint-lg) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 40px;
  }
}

.sectionTwo__about {
  font-size: $font-size-title;
  font-weight: 700;
}

.sectionTwo__socialMedia {
  display: grid;
  justify-content: center;
  padding: 20px;
}

.sectionTwo__title {
  font-size: $font-size-title;
  font-weight: $font-weight-param;
}

.sectionTwo__image {
  width: 100%;
  border-radius: 50%;
  @media (min-width: $breakpoint-lg) {
    width: 43%;
    height: 43%;
    padding-right: 20px;
  }
}
