$color-background: linear-gradient(
  112deg,
  rgba(98, 70, 143, 1) 0%,
  rgba(106, 75, 145, 1) 70%,
  rgba(168, 118, 163, 1) 100%
);
$color-font: white;
$margin-elements: 10px;
$border-button: 20px;
$display-section: flex;
$display-grid: 1fr 1fr 1fr;
$button-border: none;
$button-width: 100%;
$content-aligment: space-evenly;

nav {
  border-radius: $border-button;
  display: $display-section;

  button {
    background: $color-background;
    color: $color-font;
    padding: $margin-elements;
    border-radius: $border-button;
    border: none;
    border-block-color: $button-border;
    width: $button-width;
    justify-content: $content-aligment;
  }
}

@media (min-width: 1440px) {
}
