@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&display=swap');


.containerHeader{
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  background-color: #6533cb;
  align-items: center;
}

.ContainerHeader__note{
  height: 55px;
  position: relative;
  top: 9px;
  width: 5%;
}

.ContainerHeader__note--two{
  height: 37px;
}

.containerHeader__home{
  font-size: 15px;
  border-style: none;
  font-family: 'DynaPuff', cursive;
  /* font-family: 'Delicious Handrawn', cursive; */
  height: 40px;
    width: 15%;
    background-color: #6533cb;
    border-radius: 20px;
}
