@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&display=swap');


.containerHeader{
  background-color: #77c077;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: center;
  position: fixed;
  width: 100%;
}

.ContainerHeader__note{
  position: relative;
  width: 5%;
  height: 31px;
  width: 34px;
}

.ContainerHeader__note--two{
  height: 37px;
}

.containerHeader__home{
  font-size: 15px;
  border-style: none;
  font-family: 'DynaPuff', cursive;
  height: 40px;
  width: 15%;
  border-radius: 20px;
  background-color: #77c077;
}

.containerHeader__home:hover{
  background-color: #6bffb5;
}

@media screen and (min-width: 300px) and (max-width: 576px){

}
