$color-background: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(96, 67, 156, 1) 48%,
  rgba(47, 0, 255, 0.38) 100%
);
$color-font: white;
$margin-elements: 10px;
$border-button: 20px;
$display-section: flex;
$display-grid: 1fr 1fr 1fr;
$button-border: mediumpurple;
$button-width: fit-content;

nav {
  //   position: absolute;
  //   z-index: 2;
  border-radius: $border-button;
  display: $display-section;
  //   grid-template-columns: repeat(2, 1fr);
  //   grid-template-rows: repeat(1, 1fr);
  //   grid-column-gap: 7px;
  //   grid-row-gap: 14px;

  button {
    background: $color-background;
    color: $color-font;
    padding: $margin-elements;
    border-radius: $border-button;
    border-block-color: $button-border;
    width: $button-width;
  }
}
