$fontSize: 20px;
$distance: 1000px;
$display: flex;
$flexDirection: column;
$position: relative;
$fontTitle: 40px;
$border: 50%;
$background: rgb(119, 74, 119);

// break line points
$breakpoint-small: 1200px;
//$breakpoint-medium: 900x;
$breakpoint-lg: 1200px;

.containerSectionThree {
  display: $display;
  top: $distance;
  flex-direction: $flexDirection;
  position: $position;
  font-size: $fontSize;
  color: azure;
  font-weight: regular;
  font-style: normal;
  top: $distance;
  @media (max-width: $breakpoint-small) {
    top: 850px;
    width: 100%;
    padding: 45px;
    background-color: rgb(176, 137, 213);
  }
  @media (max-width: $breakpoint-lg) {
  }
}

.containerSectionThree__title {
  font-size: $fontTitle;
}

.containerSectionThree__imageLogo {
  text-align: center;
  padding-top: 29px;
}
.containerSectionThree__image {
  border-radius: $border;
}
